body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgb(49, 81, 221);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

img {
  width: 35%;
  height: 35%;
}

h1 {
  position: relative;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: calc(20px + 5vw);
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #1da9cc;
  text-shadow: 0 0 5px #fff,
}

form {
  padding: 5px;
  border-style: double;
  border-color: black;
  border-radius: 10px;
  border-width: 10px;
  background-color: rgb(120, 133, 190);
}

.button{
  position: relative;
  display: block;
  color: rgb(47, 56, 56);
  font-size: 24px;
  font-family: 'Montserrat', Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 0 5px #fff;
  margin: 10px 0;
  border: 2px solid #4296e6;
  padding: 4px 40px;
  text-transform: uppercase;
  overflow: hidden;
  width: 70%;
  height: 20px;
  background: rgba(27, 25, 25, 0.2);
}

.player-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  
}

.player-card {
  background-color: #eeeeee;
  height: 100%;
  width: 200px;
  box-shadow: 10px 10px grey;
  padding: 5px;
  border-radius: 10px; 
} 

.team-container {
  display:flex;
        justify-content:space-between;
        flex-wrap: wrap;
        align-items: center;
  justify-content: center;
  padding: 10px;
} 

  


.team-card {
  background-color: #eeeeee;
  max-height: 100%;
  width: 200px;
  box-shadow: 10px 10px grey;
  padding: 5px;
  border-radius: 10px; 
} 

.navbar {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  border-radius: 0 0 50px 50px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
  overflow: hidden;
}
  .navbar:hover {
    border-bottom: 2px solid blue;
    box-shadow: 0 0 20px blue;
  }

.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

