body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgb(19, 21, 32);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url("https://ctl.s6img.com/society6/img/T1n_I8-D_lsmfJDkvdIcwUMIu4E/w_700/tapestries/standard/~artwork,fw_6500,fh_5525,fx_-431,iw_7361,ih_5525/s6-original-art-uploads/society6/uploads/misc/e60a4778f2b44cfe8f38ecca29bdd6d3/~~/bucket-of-baseballs-in-black-and-white-tapestries.jpg?wait=0&attempt=0");
  background-size: 100%;
}

img {
  justify-self: center;
  align-content: center;
  max-width: 85px;
  max-height: 100px;
}

/* form {
  padding: 5px;
  border-style: double;
  border-color: black;
  border-radius: 10px;
  border-width: 6px;
  background-color: rgb(142, 147, 167);
} */

.button{
  position: relative;
  display: block;
  color: rgb(47, 56, 56);
  font-size: 24px;
  font-family: 'Montserrat', Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 0 5px #fff;
  margin: 10px 0;
  border: 2px solid #4296e6;
  padding: 4px 40px;
  text-transform: uppercase;
  overflow: hidden;
  width: 70%;
  height: 20px;
  background: rgba(27, 25, 25, 0.2);
}

.player-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.player-card {
  display: inline-block;
  margin-right: 20px;
  border: 2px black solid;
  vertical-align: top;
  overflow-y: scroll;
  background-image: url("https://bloximages.chicago2.vip.townnews.com/nwitimes.com/content/tncms/assets/v3/editorial/3/d4/3d41d821-432f-5b74-82b0-25aaea5300ca/53acabd8eefba.image.jpg"); 
  background-size: 2000px;
  height: 568px;
  width: 300px;
  box-shadow: 9px 6px rgb(48, 49, 48);
  border-radius: 10px; 
} 

.expanded-player-card {
  display: inline-block;
  margin-right: 20px;
  border: 2px black solid;
  vertical-align: top;
  overflow-y: scroll;
  background-image: url("https://bloximages.chicago2.vip.townnews.com/nwitimes.com/content/tncms/assets/v3/editorial/3/d4/3d41d821-432f-5b74-82b0-25aaea5300ca/53acabd8eefba.image.jpg"); 
  background-size: 2000px;
  height: 805px;
  width: 300px;
  box-shadow: 9px 6px rgb(48, 49, 48);
  border-radius: 10px; 
} 

.card-name {
  font-size: 26px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(34, 32, 32),
  0 0 20px #fff,
  0 0 40px rgb(73, 107, 107),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61),
}

.team-container {
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
} 

.team-card {
  align-content: center;
  background-color: #eeeeee;
  box-shadow: 10px 10px grey;
  border: 1px black solid;
  padding: 3px;
  overflow-y: scroll;    
  height: 260px;
  width: 200px;
  box-shadow: 6px 6px grey;
  border-radius: 10px; 
} 

.time-line {
  font-size: x-small;
  font-style: oblique;
  color: rgb(219, 56, 70);
}

.real-team {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(34, 32, 32),
  0 0 20px #fff,
  0 0 40px rgb(73, 107, 107),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61),
}

.navbar {
  grid-template-columns: repeat(16, 1fr);
  border-radius: 0 0 50px 50px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
  overflow: hidden;
}
.navbar:hover {
  border-bottom: 2px solid rgb(23, 23, 27);
  box-shadow: 0 0 20px rgb(17, 17, 19);
}
.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bid-container {
  display: inline-block;
  border: 2px black solid;
  vertical-align: top;
  padding: 3px;
  overflow-y: scroll;    
  background-color: #c6cfe2;
  height: 125px;
  width: 230px;
  /* box-shadow: 6px 6px grey; */
  border-radius: 10px;
  border-style: solid;
  border-width: 6px;
  align-content: center;
}

.new-bid-form {
  padding: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 6px;
  /* background-color: rgb(130, 190, 145); */
  background-image: url("https://previews.123rf.com/images/munktcu/munktcu1311/munktcu131100645/23756054-baseball-infield-dirt-patterns-from-being-raked.jpg");
  opacity: 90%;
}

.bid-scroll {
  font-size: x-small;
  font-style: oblique;
  color: rgb(19, 83, 59);
}

.max-size {
  font-size: x-small;
  font-style: oblique;
  color: rgb(19, 83, 59);
}

.icon-img {
  zoom: 330%; 
  color-adjust: unset;
}

.bid-logo {
  height: 35px
}

.salary-line {
  font-size: 20px;
  font-weight: 600;
  color: rgb(36, 136, 32);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #cfdbdb;
  text-shadow: 0 0 5px rgb(216, 194, 194),
  0 0 20px rgb(216, 223, 215),
  0 0 40px rgb(151, 201, 201),
  0 0 80px rgb(156, 202, 202),
  0 0 90px rgb(141, 187, 187),
  0 0 100px rgb(149, 196, 196),
}

.user-line {
  padding-top: 0mm;
  font-size: 20px;
  font-weight: 600;
  color: rgb(30, 32, 30);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #cfdbdb;
  text-shadow: 0 0 5px rgb(216, 194, 194),
  0 0 20px rgb(216, 223, 215),
  0 0 40px rgb(151, 201, 201),
  0 0 80px rgb(156, 202, 202),
  0 0 90px rgb(141, 187, 187),
  0 0 100px rgb(149, 196, 196),
}

.position-line {
  font-size: 43px;
  font-weight: 600;
  color: rgb(250, 243, 243);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(110, 117, 119),
  0 0 20px #fff,
  0 0 40px rgb(77, 185, 185),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61)
}

.fa-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 73px;
  font-weight: 600;
  color: rgb(67, 91, 141);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #bcc7c7;
  /* text-shadow: 0 0 5px rgb(110, 117, 119),
  0 0 20px #fff,
  0 0 40px rgb(77, 185, 185),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61) */
}

.team-page-container {
  display: inline-block;
  border: 2px black solid;
  vertical-align: top;
  padding: 3px;
  overflow-y: scroll;    
  background-color: #c6cfe2;
  height: 925px;
  width: 630px;
  border-radius: 10px;
  border-style: solid;
  border-width: 6px;
  align-content: center;
}

.team-page {
  background-color: wheat;
  width: 630px
}

.new-freeagent-form {
  display: inline-block;
  border: 2px black solid;
  vertical-align: top;
  padding: 3px;
  overflow-y: scroll;    
  background-color: #c6cfe2;
  height: 210px;
  width: 630px;
  border-radius: 10px;
  border-style: solid;
  border-width: 6px;
  align-content: center;
  background-image: url("https://images.template.net/wp-content/uploads/2017/05/fimg-contract.jpg");
  background-size: 710px;
}

/* .fa-form-container {
  align-content: center;
} */

.strong-new {
  font-size: 33px;
  font-weight: 600;
  color: rgb(247, 231, 86);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(13, 13, 14),
  0 0 20px rgb(29, 19, 19),
  0 0 40px rgb(29, 29, 26),
  0 0 80px rgb(13, 14, 10),
  0 0 90px rgb(5, 5, 5),
}


