body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  /* font-weight: 600; */
  /* -webkit-text-stroke: 2px rgb(33, 44, 78); */
  color: rgb(45, 51, 65);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #a9abb8;
  text-shadow: 0 0 5px rgb(191, 205, 209);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: rgb(19, 21, 32);
  -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: url("https://ctl.s6img.com/society6/img/T1n_I8-D_lsmfJDkvdIcwUMIu4E/w_700/tapestries/standard/~artwork,fw_6500,fh_5525,fx_-431,iw_7361,ih_5525/s6-original-art-uploads/society6/uploads/misc/e60a4778f2b44cfe8f38ecca29bdd6d3/~~/bucket-of-baseballs-in-black-and-white-tapestries.jpg?wait=0&attempt=0");
  background-size: 100%;
}

img {
  justify-self: center;
  align-content: center;
  max-width: 85px;
  max-height: 100px;
}

/* .button{
  position: relative;
  display: block;
  color: rgb(47, 56, 56);
  font-size: 24px;
  font-family: 'Montserrat', Arial, sans-serif;
  text-decoration: none;
  text-shadow: 0 0 5px #fff;
  margin: 10px 0;
  border: 2px solid #4296e6;
  padding: 4px 40px;
  text-transform: uppercase;
  overflow: hidden;
  width: 70%;
  height: 40px;
  background: rgba(27, 25, 25, 0.2);
} */

.player-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 10px;
}

.player-container::before {    
  content: "";
  border: 3px black solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(196, 204, 126);
  background-size: cover;
  position: absolute;
  margin-left: 250px;
  margin-right: 250px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.team-link {
  text-decoration: #4296e6;
}

a:visited {
  color: rgb(24, 23, 21);
}

.player-card {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 2px black solid;
  vertical-align: top;
  overflow-y: scroll;
  background-image: url("https://bloximages.chicago2.vip.townnews.com/nwitimes.com/content/tncms/assets/v3/editorial/3/d4/3d41d821-432f-5b74-82b0-25aaea5300ca/53acabd8eefba.image.jpg"); 
  background-size: 2000px;
  height: 220px;
  width: 300px;
  box-shadow: 9px 6px rgb(48, 49, 48);
  border-radius: 10px; 
} 

/* .player-card:hover {
  background-color: rgb(211, 201, 201);
  border-radius: 25px;
  padding: 20px;
  transition: 0.5s;
} */


.expanded-player-card {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 2px black solid;
  vertical-align: top;
  overflow-y: scroll;
  background-image: url("https://bloximages.chicago2.vip.townnews.com/nwitimes.com/content/tncms/assets/v3/editorial/3/d4/3d41d821-432f-5b74-82b0-25aaea5300ca/53acabd8eefba.image.jpg"); 
  background-size: 2000px;
  height: 530px;
  width: 300px;
  box-shadow: 9px 6px rgb(48, 49, 48);
  border-radius: 10px; 
} 

.card-name {
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(34, 32, 32),
  0 0 20px #fff,
  0 0 40px rgb(73, 107, 107),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61),
}

.team-container {
  position:relative;
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 110px;
  margin-right: 110px;
  background-size: 500px;
} 

.team-container::before {    
  content: "";
  border: 3px black solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(71, 116, 116);
  background-size: cover;
  position: absolute;
  margin-left: 110px;
  margin-right: 110px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.5;
}

.team-container-cards {
  position: relative;
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.team-card {
  align-content: center;
  background-color: #2882cc;
  box-shadow: 10px 10px grey;
  border: 3px black solid;
  margin-top: 40px;
  padding: 3px;
  overflow-y: scroll;    
  height: 290px;
  width: 190px;
  box-shadow: 6px 6px rgb(46, 46, 37);
  border-radius: 10px; 
  background-image: url("./exports/baseball.png");
  background-size: 550px;
} 

.team-card:hover {
  background-color: rgb(211, 201, 201);
  border-radius: 25px;
  padding: 20px;
  transition: 0.9s;
}


.time-line {
  /* font-size: x-small; */
  font-style: oblique;
  color: rgb(219, 56, 70);
}

.forty-man-line {
  font-size: 20px;
  font-weight: 600;
  color: rgb(17, 43, 121);
  letter-spacing: 0.02em;
  /* text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(34, 32, 32),
  0 0 20px #fff,
  0 0 40px rgb(73, 107, 107),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61), */
}

.minors-line {
  font-size: 20px;
  font-weight: 600;
  color: rgb(12, 12, 14);
  letter-spacing: 0.02em;
}

.team-user-line {
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  color: rgb(96, 113, 168);
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 0 0 0.15em #a4bbd8;
  text-shadow: 0 0 5px rgb(231, 221, 221),
  /* 0 0 20px #fff,
  0 0 40px rgb(222, 231, 231),
  0 0 80px rgb(180, 190, 190),
  0 0 90px rgb(87, 95, 95),
  0 0 100px rgb(30, 32, 32), */
}

.real-team {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(34, 32, 32),
  0 0 20px #fff,
  0 0 40px rgb(73, 107, 107),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61),
}

.gm-line {
  font-size: 33px;
  font-weight: 600;
  color: rgb(41, 34, 34);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #d6dfdf;
  text-shadow: 0 0 5px rgb(34, 32, 32),
  /* 0 0 20px #fff,
  0 0 40px rgb(73, 107, 107),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61), */
}

.navbar {
  grid-template-columns: repeat(16, 1fr);
  border-radius: 0 0 50px 50px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,.4);
  overflow: hidden;
}
.navbar:hover {
  border-bottom: 2px solid rgb(23, 23, 27);
  box-shadow: 0 0 20px rgb(17, 17, 19);
}
.nav-wrapper {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: center;
  background-image: url("https://st.depositphotos.com/1193075/2206/i/950/depositphotos_22067391-stock-photo-baseball-bat-macro-close-up.jpg");
  background-size: 8000px;
}
.link-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bid-container {
  display: inline-block;
  border: 2px black solid;
  vertical-align: top;
  padding: 3px;
  overflow-y: scroll;    
  background-color: #c6cfe2;
  height: 125px;
  width: 230px;
  /* box-shadow: 6px 6px grey; */
  border-radius: 10px;
  border-style: solid;
  border-width: 6px;
  align-content: center;
}

.new-bid-form {
  padding: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 6px;
  /* background-color: rgb(130, 190, 145); */
  background-image: url("https://previews.123rf.com/images/munktcu/munktcu1311/munktcu131100645/23756054-baseball-infield-dirt-patterns-from-being-raked.jpg");
  background-size: 3100px;
  opacity: 90%;
}

.admin-form {
  padding: 3px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 6px;
  /* background-color: rgb(130, 190, 145); */
}

.bid-scroll {
  font-size: x-small;
  font-style: oblique;
  color: rgb(19, 83, 59);
}

.max-size {
  font-size: x-small;
  font-style: oblique;
  color: rgb(19, 83, 59);
}

.roster-size {
  padding-top: 0mm;
  font-size: 20px;
  font-weight: 600;
  color: rgb(30, 32, 30);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #cfdbdb;
  text-shadow: 0 0 5px rgb(216, 194, 194),
  0 0 20px rgb(216, 223, 215),
  0 0 40px rgb(151, 201, 201),
  0 0 80px rgb(156, 202, 202),
  0 0 90px rgb(141, 187, 187),
  0 0 100px rgb(149, 196, 196),
}

.cap {
  padding-top: 0mm;
  font-size: 20px;
  font-weight: 600;
  color: rgb(30, 32, 30);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #cfdbdb;
  text-shadow: 0 0 5px rgb(216, 194, 194),
  0 0 20px rgb(216, 223, 215),
  0 0 40px rgb(151, 201, 201),
  0 0 80px rgb(156, 202, 202),
  0 0 90px rgb(141, 187, 187),
  0 0 100px rgb(149, 196, 196),
}

.available-salary {
  padding-top: 0mm;
  font-size: 20px;
  font-weight: 600;
  color: rgb(51, 126, 51);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #cfdbdb;
  text-shadow: 0 0 5px rgb(216, 194, 194),
  0 0 20px rgb(216, 223, 215),
  0 0 40px rgb(151, 201, 201),
  0 0 80px rgb(156, 202, 202),
  0 0 90px rgb(141, 187, 187),
  0 0 100px rgb(149, 196, 196),
}

.icon-img {
  zoom: 330%; 
  color-adjust: unset;
}

.bid-logo {
  height: 35px
}

.salary-line {
  font-size: 20px;
  font-weight: 600;
  color: rgb(36, 136, 32);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #cfdbdb;
  text-shadow: 0 0 5px rgb(216, 194, 194),
  0 0 20px rgb(216, 223, 215),
  0 0 40px rgb(151, 201, 201),
  0 0 80px rgb(156, 202, 202),
  0 0 90px rgb(141, 187, 187),
  0 0 100px rgb(149, 196, 196),
}

.user-line {
  padding-top: 0mm;
  font-size: 20px;
  font-weight: 600;
  color: rgb(30, 32, 30);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #cfdbdb;
  text-shadow: 0 0 5px rgb(216, 194, 194),
  0 0 20px rgb(216, 223, 215),
  0 0 40px rgb(151, 201, 201),
  0 0 80px rgb(156, 202, 202),
  0 0 90px rgb(141, 187, 187),
  0 0 100px rgb(149, 196, 196),
}

.position-line {
  font-size: 43px;
  font-weight: 600;
  color: rgb(250, 243, 243);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(110, 117, 119),
  0 0 20px #fff,
  0 0 40px rgb(77, 185, 185),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61)
}

.signed-line {
  font-size: 43px;
  font-weight: 600;
  color: rgb(241, 24, 24);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(110, 117, 119),
  0 0 20px #fff,
  0 0 40px rgb(77, 185, 185),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61)
}

.fa-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 73px;
  font-weight: 600;
  -webkit-text-stroke: 2px rgb(33, 44, 78);
  color: rgb(67, 91, 141);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #4d599c;
  text-shadow: 0 0 5px rgb(93, 152, 168),
  /* text-shadow: 0 0 5px rgb(110, 117, 119),
  0 0 20px #fff,
  0 0 40px rgb(77, 185, 185),
  0 0 80px rgb(90, 112, 112),
  0 0 90px rgb(116, 126, 126),
  0 0 100px rgb(56, 61, 61) */
}

.team-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 73px;
  font-weight: 600;
  -webkit-text-stroke: 2px rgb(33, 44, 78);
  color: rgb(67, 91, 141);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #4d599c;
  text-shadow: 0 0 5px rgb(93, 152, 168),
  /* 0 0 20px rgb(91, 120, 163),
  0 0 40px rgb(122, 100, 26),
  0 0 80px rgb(199, 182, 104),
  0 0 90px rgb(179, 167, 115),
  0 0 100px rgb(56, 61, 61) */
}

.home-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 73px;
  font-weight: 600;
  -webkit-text-stroke: 2px rgb(33, 44, 78);
  color: rgb(67, 91, 141);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #4d599c;
  text-shadow: 0 0 5px rgb(93, 152, 168),
  /* 0 0 20px rgb(91, 120, 163),
  0 0 40px rgb(122, 100, 26),
  0 0 80px rgb(199, 182, 104),
  0 0 90px rgb(179, 167, 115),
  0 0 100px rgb(56, 61, 61) */
}

.team-name-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 73px;
  font-weight: 600;
  -webkit-text-stroke: 2px rgb(33, 44, 78);
  color: rgb(67, 91, 141);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #4d599c;
  text-shadow: 0 0 5px rgb(93, 152, 168),
  /* 0 0 20px rgb(91, 120, 163),
  0 0 40px rgb(122, 100, 26),
  0 0 80px rgb(199, 182, 104),
  0 0 90px rgb(179, 167, 115),
  0 0 100px rgb(56, 61, 61) */
}

.team-page-container {
  display: inline-block;
  position: relative;
  border: 2px black solid;
  vertical-align: top;
  padding: 3px;
  overflow-y: scroll;
  height: 680px;
  width: 690px;
  border-radius: 10px;
  border-style: double;
  border-width: 6px;
  align-content: center;
}

.team-page-container::before {    
  content: "";
  border: 3px black solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgb(151, 142, 142);
  background-size: cover;
  position: absolute;
  height: 3000px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.9;
}

/* .team-page {
  position: relative;
  background-color: wheat;
  width: 630px
} */

.orioles, .red-sox, .yankees, .blue-jays, .rays, .indians, .twins, .white-sox, .royals, .tigers,
    .astros, .angels, .mariners, .athletics, .rangers, .mets, .braves, .phillies, .marlins, .nationals,
    .cardinals, .brewers, .reds, .cubs, .pirates, .dodgers, .padres, .giants, .diamondbacks, .rockies {
  position: relative;
}

.team-logo-page {
  zoom: 300%;
}

.home-banner {
  zoom: 1750%;
}

.new-freeagent-form {
  display: inline-block;
  border: 2px black solid;
  vertical-align: top;
  padding: 3px;
  overflow-y: scroll;    
  background-color: #c6cfe2;
  height: 210px;
  width: 630px;
  border-radius: 10px;
  border-style: solid;
  border-width: 6px;
  align-content: center;
  background-image: url("https://images.template.net/wp-content/uploads/2017/05/fimg-contract.jpg");
  background-size: 710px;
}

.strong-new {
  font-size: 33px;
  font-weight: 600;
  color: rgb(247, 231, 86);
  letter-spacing: 0.02em;
  text-shadow: 0 0 0.15em #151616;
  text-shadow: 0 0 5px rgb(13, 13, 14),
  0 0 20px rgb(29, 19, 19),
  0 0 40px rgb(29, 29, 26),
  0 0 80px rgb(13, 14, 10),
  0 0 90px rgb(5, 5, 5),
}

input[type=submit] {
  width: 60%;
  background-color: rgb(67, 91, 141);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: black;
  border-radius: 25px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #5e70d8;
}

input[type=text], select {
  color: #43609e;
  size: 80px;
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid rgb(37, 33, 33);
  border-radius: 25px;
  box-sizing: border-box;
}

.button {
  font-size: 28px;
  background-color: rgb(194, 191, 164);
  border-radius: 25px;
  height: 40px;
  width: 220px;
  margin: 0px auto;
  background-image: url("https://st.depositphotos.com/1193075/2206/i/950/depositphotos_22067391-stock-photo-baseball-bat-macro-close-up.jpg");
 }
 
 .button:hover {
   background-color: rgb(211, 201, 201);
   border-radius: 25px;
   padding: 20px;
   transition: 0.5s;
 }

 .expand-button, .admin-button, .new-fa-button, .minors-down, .tender-click,
 .add-to, .minor-cut, .reset-filter {
  background-color: rgb(236, 233, 233);
  border-radius: 25px;
  width: 200px;
  margin: 0px auto;
 }



